name: Test con Playwright

on:
  push:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout del código
      uses: actions/checkout@v2

    - name: Configurar Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '20'
    - name: Instalar dependencias
      run: npm install
    - name: Instalar Playwright
      run: npx playwright install
    - name: Run Playwright tests
      run: npm run test:cucumber

    # Aquí puedes agregar más pasos según lo que necesites, como ejecutar tus pruebas con Playwright
